/* -------------------------------- 

File#: _1_socials-v2
Title: Socials v2
Descr: Section with newsletter form and links to social media accounts
Usage: codyhouse.co/license

-------------------------------- */
.socials-v2 {}

.socials-v2__grid-item:first-child {
  margin-bottom: var(--space-lg);
}

.socials-v2__title {
  margin-bottom: var(--space-sm);
}

.socials-v2__form {
  .form-control {
    min-width: 0;
    flex-grow: 1;
  }
}

.socials-v2__btn {
  display: inline-block;
  padding: var(--space-sm);
  background: var(--color-contrast-lower);
  border-radius: 50%;
  transition: .2s;

  .icon {
    display: block;
    color: var(--color-contrast-high);
    transition: color .2s;
  }

  &:hover {
    background-color: var(--color-bg);
    box-shadow: var(--shadow-sm);

    .icon {
      color: var(--color-primary);
    }
  }
}

@include breakpoint(sm) {
  @supports (grid-area: auto) {
    .socials-v2__grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }

    .socials-v2__grid-item {
      min-width: 0;
    }

    .socials-v2__grid-item:first-child {
      margin-bottom: 0;
    }

    .socials-v2__grid-item:last-child {
      text-align: right;
    }

    .socials-v2__btns {
      justify-content: flex-end;
    }
  }
}